doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= "Form"
        form(action="/update-cobj" method="POST")
            p Name:
            input(type="text" name="name" placeholder="")
            p Specie:
            input(type="text" name="specie" placeholder="")
            p Race:
            input(type="text" name="race" placeholder="")
            input(type="submit")
            a(href="/")
                | Return to the homepage